  .masthead.segment {
    min-height: 400px;
  }

  .masthead h1.ui.header {
    margin-top: 1em;
    margin-bottom: 0em;
    font-size: 6em;
    font-weight: normal;
  }

  .masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
  }

  .footer.segment {
    padding: 5em 0em;
  }


  